.testimonialsContainer {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  font-size: 1rem;
  line-height: 1.5rem;

  .quoteContainer {
    display: flex;
    alignitems: flex-start;
    gap: 0.5rem;

    .leftQuote {
      font-size: 3rem;
      font-family: serif;
    }

    .testimonialText {
      font-style: italic;
    }

    .rightQuote {
      font-size: 3rem;
      font-family: serif;
      transform: rotate(180deg);
    }
  }

  .testimonialAuthor {
    font-size: 0.75rem;
  }
}
