.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-block: 2.5rem;
  min-height: 100vh;
  gap: 3.75rem;

  .sectionContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.25rem;
    width: 100%;

    @media (min-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
    }

    .avatarAndTitleContainer {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      align-items: center;

      @media (min-width: 768px) {
        flex-direction: row;
        align-items: flex-start;
      }
    }

    .sectionTitle {
      font-size: 1.5rem;
      font-weight: 400;
      align-self: start;
    }
  }
}
